{% set active_route = app.request.attributes.get('_route') | default('app_index') %}
{% set active_params = app.request.attributes.get('_route_params') | default([]) %}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    {{ 'Report' | trans }}
    {{ form_start(contactForm) }}
{% endblock %}

{% block main %}
    {{ form_row(contactForm.companies) }}
    {{ form_row(contactForm.subject) }}
    {{ form_row(contactForm.message) }}
{% endblock %}

{% block content_footer %}
    <div class="form-actions">
        {{ form_widget(contactForm.send) }}
    </div>
    {{ form_end(contactForm) }}
{% endblock %}

{% block body_javascript %}

{% endblock %}