{% set active_route = app.request.attributes.get('_route') | default('app_index') %}
{% set active_params = app.request.attributes.get('_route_params') | default([]) %}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    {{ 'Report' | trans }}
    {{ form_start(reportForm) }}
{% endblock %}

{% block main %}
    <div id="report">
        <div class="navigation">
            <ul>
                {% for year in years %}
                    <li>
                        <a class="{% if year == activeYear %}active{% endif %}" href="{{ url(active_route, (active_params | merge({'year' : year}))) }}">{{ year }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul>
                {% for month in months %}
                    <li>
                        <a class="{% if month['int'] == activeMonth %}active{% endif %}" href="{{ url(active_route, (active_params | merge({'month' : month['int']}))) }}">{{ month['str'] }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul>
                {% for company in companies %}
                    <li>
                        <a class="{% if company == activeCompany %}active{% endif %}" href="{{ url(active_route, (active_params | merge({'slug' : company.slug }))) }}">{{ company }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% if invoices | length > 0 %}
                <ul>
                    {% for invoice in invoices %}
                        <li>
                            <a href="{{ url('easyadmin', {entity: 'Invoices', action: 'show', id: invoice.id}) }}">
                                {{ invoice.company }} - {{ invoice }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <div>
                <div class="tr">
                    <span class="th">{{ 'Monday' | trans }}</span>
                    <span class="th">{{ 'Tuesday' | trans }}</span>
                    <span class="th">{{ 'Wednesday' | trans }}</span>
                    <span class="th">{{ 'Thursday' | trans }}</span>
                    <span class="th">{{ 'Friday' | trans }}</span>
                    <span class="th">{{ 'Saturday' | trans }}</span>
                    <span class="th">{{ 'Sunday' | trans }}</span>
                </div>
                <div class="days">
                    {% for activity in reportForm.activities %}
                        {% if activity.vars.data.date != null %}
                            <div class="day day-active">
                                {{ form_widget(activity.selected) }}
                                <label for="month_activities_activities_{{ loop.index0 }}_selected">
                                    {{ form_widget(activity.value) }}
                                    {{ form_widget(activity.date) }}
                                    {{ form_widget(activity.company) }}
                                </label>
                            </div>
                        {% else %}
                            <div class="day day-empty">
                                <div style="display: none;">
                                    {{ form_widget(activity.selected) }}
                                    {{ form_widget(activity.value) }}
                                    {{ form_widget(activity.date) }}
                                    {{ form_widget(activity.company) }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content_footer %}
    <div class="form-actions">
        {{ form_widget(reportForm.send) }}
        {% if activeYear and activeMonth and activeCompany and companyActivities %}
            <a name="" class="btn text-danger" title="" href="{{ url('report_invoice', {'year': activeYear, 'month': activeMonth, 'slug': activeCompany.slug}) }}" target="_self">
                <i class="fa fa-file"></i>
                {{ 'Invoice' | trans }}
            </a>
            {% set clients = activeCompany.clients ? activeCompany.clients : [activeCompany] %}
            {% for client in clients %}
                <a name="" class="btn text-danger" title="" href="{{ url('report_export', {'year': activeYear, 'month': activeMonth, 'slug': client.slug}) }}" target="_blank">
                    <i class="fa fa-file"></i>
                    {{ 'Export' | trans }} {{ client }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
    {{ form_end(reportForm) }}
{% endblock %}

{% block body_javascript %}

{% endblock %}