{% set active_route = 'accounting' %}
{% set active_params = app.request.attributes.get('_route_params') | default([]) %}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}{{ 'Accounting' | trans }}{% endblock %}

{% block main %}
    <div id="accounting" class="dashboard">
        <div id="navigation" class="container text-center">
            <div class="row align-items-center">
                {% for year in years %}
                    <div class="col">
                        <a class="{% if year == activeYear %}active{% endif %}"
                           href="{{ url(active_route, (active_params | merge({'year' : year}))) }}">{{ year }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="row align-items-center">
                {% for typeKey, typeValue in types %}
                    <div class="col">
                        <a class="{% if typeKey == activeType %}active{% endif %}" href="{{ url(active_route, (active_params | merge({'type' : typeKey}))) }}">{{ typeValue | trans }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container text-center">
            <div class="row align-items-center" style="margin-top: 40px;">
                {{ render_chart(chartTotalsByMonthAndType, {'id' : 'totalsByMonthAndType'}) }}
            </div>
            {% if chartTotalsByMonthAndLabel is defined %}
                <div class="row align-items-center" style="margin-top: 40px;">
                    {{ render_chart(chartTotalsByMonthAndLabel, {'id' : 'totalsByMonthAndLabel'}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
