{% set active_route = app.request.attributes.get('_route') | default('app_index') %}
{% set active_params = app.request.attributes.get('_route_params') | default([]) %}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'Dashboard' | trans }}{% endblock %}

{% block main %}
    <div id="dashboard">
        <div class="cards cards-row-120">
            <div class="card card-1 card-navigation">
                <div class="card-content">
                    <ul>
                        {% for year in years %}
                            <li>
                                <a class="{% if year == activeYear %}active{% endif %}" href="{{ url(active_route, (active_params | merge({'year' : year}))) }}">{{ year }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>
                        {% for quarter in [1, 2, 3, 4] %}
                            <li>
                                <a class="{% if quarter == activeQuarter %}active{% endif %}" href="{{ url(active_route, (active_params | merge({'quarter' : quarter}))) }}">T{{ quarter }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards cards-row-120">
            <div class="card card-4">
                <div class="card-content">
                    <h4>{{ 'Annual income' | trans }}</h4>
                    <span>{{ activeRevenuesOnYear | number_format(0, ',', ' ') }}</span>
                </div>
            </div>
            <div class="card card-4">
                <div class="card-content">
                    <h4>{{ 'Quarterly income' | trans }}</h4>
                    <span>{{ activeRevenuesOnQuarter | number_format(0, ',', ' ') }}</span>
                </div>
            </div>
            {% if (nextDueDate | length) != 0 %}
                <div class="card card-4 {% if nextDueDate[3] %}card-danger{% endif %}">
                    <div class="card-content card">
                        <h4>{{ 'Declaration' | trans }} {{ nextDueDate[4] | trans }}</h4>
                        <span style="font-size: 24px">
                            {{ (nextDueDate[3] ? 'now' : nextDueDate[1]) | date('d') }}-{{ nextDueDate[2] | date('d') }}  {{ nextDueDate[1] | date('F') | trans }}
                        </span>
                    </div>
                </div>
            {% endif %}
            <div class="card card-4">
                <div class="card-content">
                    {% if currentYear == activeYear %}
                        <h4>{{ 'Days remaining' | trans }}</h4>
                        <span>{{ remainingDaysBeforeLimit | round }}</span>
                    {% else %}
                        <h4>{{ 'Worked days' | trans }}</h4>
                        <span>{{ dayCount | round }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card card-3">
                <div class="card-content">
                    <h4>{{ 'Revenues by years' | trans }}</h4>
                    <canvas id="revenuesByYears" width="100%" height="100%"></canvas>
                </div>
            </div>
            <div class="card card-3">
                <div class="card-content">
                    <h4>{{ 'Revenues by quarter' | trans }}</h4>
                    <canvas id="revenuesByQuarters" width="100%" height="100%"></canvas>
                </div>
            </div>
            <div class="card card-3">
                <div class="card-content">
                    <h4>{{ 'Days by month' | trans }}</h4>
                    <canvas id="daysByMonth" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card card-2 card-left card-list">
                <div class="card-content">
                    <h4>{{ 'Unpayed invoices' | trans }}</h4>
                    <div>
                        {% for invoice in unpayedInvoices %}
                            <a href="{{ url('easyadmin', {entity: 'Invoice', action: 'show', id: invoice.id}) }}">
                                {{ invoice.company }} -
                                {{ invoice }} -
                                {{ invoice.createdAt | date('d/m/Y') }} -
                                {{ invoice.totalHt | number_format(0, ',', ' ') }}€
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card card-2 card-left card-list">
                <div class="card-content">
                    <h4>{{ 'Current experiences' | trans }}</h4>
                    <div>
                        {% for experience in currentExperiences %}
                            <a href="{{ url('easyadmin', {entity: 'Experience', action: 'show', id: experience.id}) }}">
                                {{ experience }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card card-1 card-list">
                <div class="card-content">
                    <h4>{{ 'Global statistics' | trans }}</h4>
                    <style>
                        h4{
                            font-weight: bold;
                        }
                        .card-list a{
                            text-align: left;
                        }
                        .table_header {
                            font-weight: bold;
                            color: #000;
                        }
                        .table_header, .table_row {
                            display: flex;
                        }
                        .table_column {
                            flex: 1;
                            text-align: right;
                        }
                        .table_row{
                            margin-top: 10px;
                        }
                        .table_left{
                            text-align: left;
                            font-weight: bold;
                        }
                        .table_large{
                            min-width: 150px;
                        }
                    </style>
                    <section style="width: 100%">
                        <header class="table_header">
                            <div class="table_column table_left">Année</div>
                            <div class="table_column">HT</div>
                            <div class="table_column">Impot</div>
                            <div class="table_column">Sociales</div>
                            <div class="table_column">TVA</div>
                            <div class="table_column">CFE</div>
                            <div class="table_column">Occupation</div>
                            <div class="table_column table_large">Revenu par an</div>
                            <div class="table_column table_large">Revenu par mois</div>
                        </header>
                        {% for globalYear in globalByYears %}
                            <div class="table_row">
                                <div class="table_column table_left">{{ globalYear['year'] }}</div>
                                <div class="table_column">{{ globalYear['ht'] }}</div>
                                <div class="table_column">{{ globalYear['impot'] }}</div>
                                <div class="table_column">{{ globalYear['social'] }}</div>
                                <div class="table_column">{{ globalYear['tva'] }}</div>
                                <div class="table_column">{{ globalYear['cfe'] }}</div>
                                <div class="table_column">{{ globalYear['percent'] }}</div>
                                <div class="table_column table_large">{{ globalYear['net'] }}</div>
                                <div class="table_column table_large">{{ globalYear['netByMonth'] }}</div>
                            </div>
                        {%  endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_footer %}
    <a name="" class="btn text-primary" title="" href="{{ url('invoices_csv') }}" target="_self">
        <i class="fa fa-file"></i>
        {{ 'Invoices book' | trans }}
    </a>
{% endblock %}

{% block body_javascript %}
    <script src="{{ asset('build/js/Chart.bundle.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/Chart.min.css') }}">

    <script>
        window.onload = function() {
            var ctx = document.getElementById('revenuesByYears');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['{{ (revenuesByYears | keys) | join("', '") | raw }}'],
                    datasets: [{
                        label: 'CA (€)',
                        data: ['{{ (revenuesByYears) | join("', '") | raw }}'],
                        backgroundColor: ['{{ colorsByYears | join("', '") | raw }}'],
                    }]
                }
            });

            var ctx = document.getElementById('revenuesByQuarters');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['{{ (revenuesByQuarters | keys) | join("', '") | raw }}'],
                    datasets: [{
                        label: 'CA (€)',
                        data: ['{{ (revenuesByQuarters) | join("', '") | raw }}'],
                        backgroundColor: ['{{ colorsByQuarters | join("', '") | raw }}'],
                    }]
                }
            });

            var ctx = document.getElementById('daysByMonth');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['{{ (daysByMonth | keys) | join("', '") | raw }}'],
                    datasets: [{
                        label: '{{ 'Days' | trans }}',
                        data: ['{{ (daysByMonth) | join("', '") | raw }}'],
                    }]
                }
            });
        };
    </script>
{% endblock %}
