{% block _declaration_invoices_array_with_total_row %}
    <div class="embedded-list">
        <table class="table table-sm datagrid">
            <thead>
                <tr>
                    <th><span>{{ 'Company' | trans }}</span></th>
                    <th><span>{{ 'Number' | trans }}</span></th>
                    <th><span>{{ 'Payed at' | trans }}</span></th>
                    <th><span style="text-align: right">{{ 'Total ht' | trans }}</span></th>
                    <th><span style="text-align: right">{{ 'Total tax' | trans }}</span></th>
                    <th><span style="text-align: right">{{ 'Actions' | trans }}</span></th>
                </tr>
            </thead>
            <tbody>
                {% set totalHt = 0 %}
                {% set totalTax = 0 %}
                {% for invoice in form.vars.value %}
                    <tr>
                        <td>{{ invoice.company }}</td>
                        <td>{{ invoice.number }}</td>
                        <td>{{ invoice.payedAt | date('d/m/Y') }}</td>
                        <td style="text-align: right">{{ invoice.totalHt | number_format(0, ',', ' ') }}</td>
                        <td style="text-align: right">{{ invoice.totalTax | number_format(0, ',', ' ') }}</td>
                        <td class="actions">
                            <a name="edit" class=" action-edit" title=""
                               href="{{ url('easyadmin', {entity: 'Invoice', action: 'show', id: invoice.id}) }}"
                               target="_self">
                                {{ 'action.show' | trans}}
                            </a>
                        </td>
                    </tr>
                    {% set totalHt = totalHt + invoice.totalHt %}
                    {% set totalTax = totalTax + invoice.totalTax %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th style="text-align: right;" colspan="3">{{ 'Total' | trans }} :</th>
                    <th style="text-align: right;">{{ totalHt | number_format(0, ',', ' ') }}</th>
                    <th style="text-align: right;">{{ totalTax | number_format(0, ',', ' ') }}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block _declaration_purchases_array_with_total_row %}
    <div class="embedded-list">
        <table class="table table-sm datagrid">
            <thead>
            <tr>
                <th><span>{{ 'Number' | trans }}</span></th>
                <th><span>{{ 'Payed at' | trans }}</span></th>
                <th><span style="text-align: right">{{ 'Total ht' | trans }}</span></th>
                <th><span style="text-align: right">{{ 'Total tax' | trans }}</span></th>
                <th><span style="text-align: right">{{ 'Actions' | trans }}</span></th>
            </tr>
            </thead>
            <tbody>
            {% set totalHt = 0 %}
            {% set totalTax = 0 %}
            {% for purchase in form.vars.value %}
                <tr>
                    <td>{{ purchase.number }}</td>
                    <td>{{ purchase.payedAt | date('d/m/Y') }}</td>
                    <td style="text-align: right">{{ purchase.totalHt | number_format(0, ',', ' ') }}</td>
                    <td style="text-align: right">{{ purchase.totalTax | number_format(0, ',', ' ') }}</td>
                    <td class="actions">
                        <a name="edit" class=" action-edit" title=""
                           href="{{ url('easyadmin', {entity: 'Purchase', action: 'show', id: purchase.id}) }}"
                           target="_self">
                            {{ 'action.show' | trans}}
                        </a>
                    </td>
                </tr>
                {% set totalHt = totalHt + purchase.totalHt %}
                {% set totalTax = totalTax + purchase.totalTax %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th style="text-align: right;" colspan="2">{{ 'Total' | trans }} :</th>
                <th style="text-align: right;">{{ totalHt | number_format(0, ',', ' ') }}</th>
                <th style="text-align: right;">{{ totalTax | number_format(0, ',', ' ') }}</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block form_row -%}
    {% set _field_type = easyadmin.field.fieldType|default('default') %}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %} field-{{ block_prefixes|slice(-2)|first }}">
        {{- form_label(form) -}}
        <div class="form-widget">
            {% set has_prepend_html = easyadmin.field.prepend_html|default(null) is not null %}
            {% set has_append_html = easyadmin.field.append_html|default(null) is not null %}
            {% set has_input_groups = has_prepend_html or has_append_html %}

            {% if has_input_groups %}<div class="input-group">{% endif %}
                {% if has_prepend_html %}
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ easyadmin.field.prepend_html|raw }}</span>
                    </div>
                {% endif %}

                {{- form_widget(form) -}}

                {% if _field_type == 'default' %}
                    {% set remove_item_javascript %}
                        $(function() {
                        event.preventDefault();

                        var containerDiv = $('#{{ id }}').parents('.form-group:first');
                        var parentDiv = containerDiv.parents('[data-prototype]:first');
                        containerDiv.remove();
                        parentDiv.trigger('easyadmin.collection.item-deleted');

                        var hasCountAttr = parentDiv.data('count');

                        if (hasCountAttr === undefined) {
                        var numItems = parentDiv.children('div.form-group').length;
                        parentDiv.data('count', ++numItems)
                        }

                        if (0 == parentDiv.children().length && 'undefined' !== parentDiv.attr('data-empty-collection')) {
                        $(parentDiv.attr('data-empty-collection')).insertBefore(parentDiv);
                        }
                        });
                    {% endset %}
                    <div class="field-collection-item-row" style="display: inline-block;vertical-align: top;">
                        <a class="field-collection-item-action" id="easyadmin-remove-collection-item-{{ form.vars.id }}" href="#" onclick="{{ remove_item_javascript|raw }}; return false;" title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
                            &times;
                        </a>
                    </div>
                {% endif %}

                {% if has_append_html %}
                    <div class="input-group-append">
                        <span class="input-group-text">{{ easyadmin.field.append_html|raw }}</span>
                    </div>
                {% endif %}
                {% if has_input_groups %}</div>{% endif %}

            {% if _field_type in ['datetime', 'datetime_immutable', 'date', 'date_immutable', 'dateinterval', 'time', 'time_immutable', 'birthday'] and easyadmin.field.nullable|default(false) %}
                <div class="nullable-control">
                    <label>
                        <input type="checkbox" {% if data is null %}checked="checked"{% endif %}>
                        {{ 'label.nullable_field'|trans({}, 'EasyAdminBundle')}}
                    </label>
                </div>
            {% endif %}

            {% if easyadmin.field.help|default(form.vars.help) != '' %}
                <small class="form-help">{{ easyadmin.field.help|default(form.vars.help)|trans(domain = form.vars.translation_domain)|raw }}</small>
            {% endif %}

            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}
